<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title>swami</title>
	</head>
	<body >
		
		<section class="banner d-flex justify-content-center align-item-center">
			<div class="text-center ">
				<h1 class="font-weight-bold">
					Smart Contact Maneger
				</h1>
				<p>
					start collecting your contact in very smart way.we provide
					 very efficient and smater way of handling contact
				</p>
				
				<button class="btn bg-primary btn-large text-white">Get start</button>
			</div>
		</section>
		
	</body>
</html>